<div class="wave wave-layer1">
</div>
<footer>
    <h2><a href="/home">m1lken01.ddns.net</a></h2>
    <p>
        <a href="/home">Home</a>
        <a href="#">About</a>
        <a href="/contacts">Contact</a>
    </p>
    <ul class="horizontal-list">
        <li>
            <a href="/email" target="_blank"><img class="icon" src="./images/icons/icons8-gmail-logo-512.png"></img>
                </img>
            </a>
        </li>
        <li>
            <a href="/github" target="_blank"><img class="icon" src="./images/icons/icons8-github-512.png"></img>
                </img>
            </a>
        </li>
        <li>
            <a href="/facebook" target="_blank"><img class="icon" src="./images/icons/icons8-facebook-512.png"></img>
                </img>
            </a>
        </li>
        <li>
            <a href="/instagram" target="_blank"><img class="icon" src="./images/icons/icons8-instagram-512.png"></img>
                </img>
            </a>
        </li>
        <li>
            <a href="/discord" target="_blank"><img class="icon" src="./images/icons/icons8-discord-512.png"></img>
            </a>
        </li>
        <li>
            <a href="/steam" target="_blank"><img class="icon" src="./images/icons/icons8-steam-circled-512.png"></img>
                </img>
            </a>
        </li>
        <li>
            <a href="/faceit" target="_blank"><img class="icon" src="./images/icons/icons8-faceit-512.png"></img>
                </img>
            </a>
        </li>
    </ul>
    <div>
        <p class="copyright">
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> All rights reserved | Made with &#10084; by <a href="github" target="_blank">M1lken01</a>
        </p>
    </div>
</footer>