<!DOCTYPE html>
<html lang="en">

<head>
    <title>m1lken01 - Home</title>
    <script src="script.js" defer></script>
    <%- include('partials/head') %>
</head>

<body>
    <main>
        <h1 class="center title subtitle">Welcome to My Site</h1>
        <p class="center">This is a default HTML page with a basic boilerplate.</p>
    </main>
    <section>
        <h2 class="subtitle">About Me</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas mollitia ipsa expedita ipsum quibusdam
            possimus quam culpa est officia illo dolorem, modi earum doloremque. Fugit, nemo. Rem quam esse repudiandae.
        </p>
    </section>
    <section>
        <h2 class="subtitle">More Stuff</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas mollitia ipsa expedita ipsum quibusdam
            possimus quam culpa est officia illo dolorem, modi earum doloremque. Fugit, nemo. Rem quam esse repudiandae.
        </p>
    </section>
    <%- include('partials/footer') %>
</body>

</html>