@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --background: #0d0f10;
    --text: #d1cdc8;
    --accent: #371f96;
}

body {
    color: var(--text);
    background-color: var(--background);
    letter-spacing: 0.03em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    text-align: left;
}

main {
    min-height: 50vh;
}

footer {
    color: var(--background);
    background-color: var(--text);
    padding: 16vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

a {
    color: var(--accent);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

a:hover {
    cursor: pointer;
    letter-spacing: 0.05em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.5rem;
}

p {
    margin: 2vh 0vw;
}

section {
    margin: 16vh 48vw 32vh 8vw;
    text-align: left;
}

footer p {
    margin: 4vh 0vw;
}

.nav a {
    margin: 0vh 1vw;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: center;
}

.icon {
    aspect-ratio: 1/1;
    width: 50px;
}

.title {
    margin: 16vh 2vw 8vh 2vw;
    font-size: 8vw;
    font-weight: bold;
}

.subtitle {
    text-shadow: 0px 0px 0px var(--text);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.subtitle:hover {
    letter-spacing: 0.04em;
    text-shadow: 4px 4px 0px var(--accent);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.center {
    text-align: center;
}

.wave {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave-layer1 {
    background-image: url('/images/wave.svg');
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 4em;
    }

    section {
        margin: 16vh 8vw 16vh 8vw;
    }
}