@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root {
    --background: #0d0f10;
    --background-alt: #101314;
    --text: #d1cdc8;
    --accent: #371f96;
}

body {
    color: var(--text);
    background-color: var(--background);
    letter-spacing: 0.03em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    text-align: left;
}

main {
    min-height: 50vh;
}

footer {
    color: var(--background);
    background-color: var(--text);
    padding: 16vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

a {
    color: var(--accent);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

a:hover {
    cursor: pointer;
}

footer a:hover {
    letter-spacing: 0.05em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.5rem;
}

p {
    margin: 2vh 0vw;
}

section {
    margin: 16vh 8vw 32vh 8vw;
    text-align: left;
}

section>p {
    margin: 0vh 48vw 0vh 0vw;
}

section>h2 {
    margin: 2vh 0vw;
}

footer p {
    margin: 4vh 0vw;
}

.nav a {
    margin: 0vh 1vw;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: center;
}

.icon {
    aspect-ratio: 1/1;
    width: 50px;
}

.title {
    margin: 16vh 4vw 8vh 4vw;
    font-size: 8vw;
    font-weight: bold;
}

.subtitle {
    text-shadow: 0px 0px 0px var(--text);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.subtitle:hover {
    letter-spacing: 0.04em;
    text-shadow: 4px 4px 0px var(--accent);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.center {
    text-align: center;
}

.wave {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave-layer1 {
    background-image: url('/images/wave.svg');
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.card {
    background-color: var(--background-alt);
    width: 100%;
    min-height: 16vh;
    padding: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.card:hover {
    width: 110%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.vertical-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 1vw;
    margin: 8vh 0;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 2vh;
    background-color: var(--background-alt);
    border-radius: 6px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-width: 10%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.vertical-chart .data-container {
    min-height: 50vh;
}

.vertical-chart .data-container:hover {
    min-width: 12%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.v-bar {
    background-color: var(--accent);
    width: 30%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.label {
    text-align: center;
}

.horizontal-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1vh;
    margin: 8vh 0;
    display: none;
}

.horizontal-chart .data-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vw;
    margin: 0.5vh 0;
    padding-left: 2vh;
    padding-right: 2vh;
    min-width: 100%;
}

.h-bar {
    background-color: var(--accent);
    height: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.horizontal-chart .label {
    text-align: left;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 4em;
    }
    section {
        margin: 16vh 8vw 32vh 8vw;
    }
    section>p {
        margin: 0;
    }
    .cards {
        flex-direction: column;
        gap: 2vh;
    }
    .card {
        min-height: unset;
    }
    .card p {
        display: none;
    }
    .horizontal-chart {
        display: flex;
    }
    .vertical-chart {
        display: none;
    }
}